{{#if addNewResponse}}
  <h1>New Response</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name</label>
          {{input class="form-control" value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="content">Response</label>
          {{input class="form-control" value=content id="content"}}
        </div>
        <button class="btn btn-lg theme5"{{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
  <div class="col-sm-3">
    <button class="btn theme" {{action 'responseFormShow'}}>Add New Response</button>
  </div>
{{/if}}
