{{#if addNewQuestion}}
  <h2>New Help Request</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="author">Name</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="body">Your Request</label>
        {{input value=body id="body"}}
      </div>
      <button class="btn btn-lg theme" {{action 'save1'}}>Submit</button>
    </form>
  </div>
{{else}}
  <div class="col-sm-6 col-sm-offset-4">
    <button class="btn btn-large btn-block theme" {{action 'questionFormShow'}}>Request Help</button>
  </div>
{{/if}}
