<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="blue center"> {{model.title}}  <button class="btn btn-success" {{action 'addToFavorites' model}}>Add to your Favorites</button></h1>
      <h3>{{model.body}} ~{{model.author}}</h3><br>
      <ul><h4><span class="brown">Tags:</span>
        {{#each model.tags as |tag|}}
          <span class="italic">{{tag.text}}</span>
        {{/each}}
        </h4>{{new-tag saveTag2="saveTag3" question=model}}</ul><br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{update-question question=model destroyQuestion="destroyQuestion" update="update"}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
      <h3>Responses:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      {{responses-list responses=model.responses}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
      {{new-response save2="save3" question=model}}
    </div>
  </div>
</div>
